@import "../../styles/globalColor.scss";

.projects-container {
  padding-top: 40px;
  display: grid;
  gap: 2rem;

  .projects-header {
    color: $faceBook;
  }
  .projects-body {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    @media (max-width: 992px) {
      grid-template-columns: 1fr !important;
    }
    .project-card {
      display: flex !important;
      width: 100% !important;
      background: $lightBackground2;
      flex-direction: row !important;
      align-items: flex-start !important;
      border-radius: 8px;
    }

    .project-img {
      width: 150px !important;
      padding: 10px;
      @media (max-width: 640px) {
        width: 100px !important;
      }
      img {
        max-width: 100%;
        object-fit: contain;
      }
    }
    .project-body {
      padding: 10px;
      width: 100%;
      .project-header {
        display: flex;
        border-radius: 6px;
        padding: 10px;
        .title {
          width: 100% !important;
          .card-title {
            font-weight: 700 !important;
            letter-spacing: 1px !important;
            font-size: 16px !important;
          }
          .place {
            color: $cardSubtitle !important;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
          }
          .summary {
            color: $subTitle !important;
            font-weight: 500;
            font-size: 14px;
            // letter-spacing: 1px;
          }
        }
        .skills-div {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          padding: 10px;
          background-color: #f8f9fa;
          border-radius: 8px;
          p {
            // padding-bottom: 10px !important;
            background-color: $linkedin;
            padding: 8px 12px !important;
            // background-color: #007bff; /* Primary color background */
            color: $lightBackground1;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            margin: 0 !important;
          }
        }
        .duration-div {
          padding-top: 10px;
          .duration {
            background-color: $cardBackgroundColor2 !important;
            color: $textColor2 !important;
            font-weight: 700;
            font-size: 14px;
            padding: 10px;
            border-radius: 5px;
            float: right !important;
          }
        }
      }
    }
  }
}
