@import "../../styles/globalColor.scss";

.projects-container {
  width: 90%;
  padding: 20px 10px;
  margin: 2rem auto 0;

  h1 {
    font-size: 50px;
    color: $faceBook !important;
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 30px;
    }
  }
  .projects-body {
    .degree-card {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .card-img {
      width: 200px;
      height: auto;
      img {
        max-width: 100%;
        max-height: 80%;
        // clip-path: circle(40%);
      }
    }
    .card-body {
      background: $lightBackground2;
      padding: 15px;
      border-radius: 7px;
      width: 90%;
      margin-bottom: 15px;
      .body-header {
        display: flex;
        border-radius: 6px;
        padding: 10px;
        .title {
          width: 90% !important;
          .card-title {
            font-weight: 500;
            letter-spacing: 1.5px;
            font-size: 22px;
          }
          .place {
            color: $subTitle !important;
            font-weight: 400;
            font-size: 19px;
            letter-spacing: 1px;
            margin: 0;
            padding: 0;
          }
          .summary {
            color: $linkedin !important;
            font-weight: 300;
            font-size: 17px;
            // margin: 0;
            padding: 0;
            // letter-spacing: 1px;
          }
        }
        .duration-div {
          width: 20% !important;
          .duration {
            background-color: $cardBackgroundColor1 !important;
            color: $githubProfileCardBorder !important;
            font-weight: 500;
            font-size: 18px;
            padding: 10px;
            border-radius: 5px;
            float: right;
          }
        }
        .content-list {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .skills-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        p {
          margin: 0 !important;
          padding: 10px !important;
          color: $skillsColor;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .body-header,
  .degree-card {
    flex-direction: column !important;
  }
  .card-body {
    width: 100% !important;
  }

  .title {
    width: 100% !important;
    .card-title {
      letter-spacing: 1px !important;
      font-weight: 300 !important;
      font-size: 23px !important;
    }
  }

  .education-container .educations-body .card-body .body-header .duration-div {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    .duration {
      padding: 5px !important;
      margin: 0 !important;
      float: left !important;
    }
  }
}
