@import "../../styles/globalColor.scss";

.projects-container {
  padding-top: 40px;
  display: grid;
  gap: 2rem;

  .project-header {
    color: $faceBook;
    display: flex;
    padding: 10px;
    .project-img {
      width: 25% !important;
      padding: 10px;
      @media (max-width: 640px) {
        width: 30% !important;
      }
      img {
        max-width: 100%;
        border-radius: 8px;
        object-fit: contain;
      }
    }
    .project-title {
      width: 100%;
      margin-top: 10px;
      border-bottom: 3px double $faceBook;
      .card-title {
        font-size: 1.2rem;
        color: $faceBook;
        text-decoration: none;
        font-weight: 600;
      }
      h4 {
        font-size: 1rem;
        margin: 10px 0;
        font-weight: 400;
      }
      .duration-div {
        // padding-top: 5px;
        .duration {
          // background-color: $cardBackgroundColor2 !important;
          color: $subTitle !important;
          font-weight: 500;
          font-size: 14px;
          margin: 0;
          border-radius: 5px;
        }
      }
    }
  }
  .projects-body {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    @media (max-width: 992px) {
      grid-template-columns: 1fr !important;
    }
    .project-card {
      background: $lightBackground2;
      border-radius: 8px;
    }

    .project-body {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 10px;
      .title {
        padding: 10px;
        .place {
          color: $cardSubtitle !important;
          font-weight: 600;
          font-size: 14px;
        }
        .summary {
          color: $subTitle !important;
          font-weight: 500;
          font-size: 1rem;
          color: $githubRepoCardColor;
          text-align: justify !important;
        }
      }
      .skills-div {
        // display: flex;
        // flex-wrap: wrap;
        // gap: 10px;
        border-radius: 8px;
        background-color: #f8f9fa;
        display: grid;
        padding: 10px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1rem;
        // width: 90%;
        // margin: 0 auto;
        p {
          background-color: $linkedin;
          padding: 8px 12px !important;
          color: $lightBackground1;
          border-radius: 4px;
          font-size: 1rem;
          font-weight: 400;
          text-align: center;
          margin: 0 !important;
        }
      }
    }
  }
}
