@import "../../styles/globalColor.scss";

.education-container {
  width: 85%;
  padding-top: 3rem;
  margin: 0 auto;
  .educations-div {
    display: flex;
    color: $darkScreen;
    justify-content: space-between;
    padding-top: 3rem;

    .educations-body {
      display: flex !important;
      background: $lightBackground2;
      flex-direction: row !important;
      border-radius: 8px;
      padding: 1rem;
    }

    .card-img {
      padding: 10px;
      img {
        width: 85%;
        border-radius: 8px;
      }
    }
    .card-body {
      width: 100%;
      .body-header {
        display: flex;
        border-radius: 6px;
        padding: 10px;
        .title {
          width: 100% !important;
          .card-title {
            font-weight: 700 !important;
            letter-spacing: 1px !important;
            font-size: 16px !important;
          }
          .institute {
            font-size: 14px;
            letter-spacing: 1px;
          }
          .card-subtitle {
            color: $subTitle !important;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1px;
          }
        }
        .duration-div {
          .duration {
            color: $subTitle !important;
            font-weight: 400;
            font-size: 14px;
            margin: 0;
            border-radius: 5px;
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    .educations-div {
      flex-direction: column;
      gap: 3rem;
    }
  }
}
