@import "../../styles/globalColor.scss";

.education-container {
  display: grid;
  gap: 1rem;

  .educations-header {
    font-size: 40px !important;
    color: $faceBook;

    @media (max-width: 320px) {
      font-size: 20px !important;
    }
  }
  .educations-body {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    @media (max-width: 992px) {
      grid-template-columns: 1fr !important;
    }
    .degree-card {
      display: flex !important;
      width: 100% !important;
      background: $lightBackground2;
      flex-direction: row !important;
      // margin-bottom: 15px;
      align-items: flex-start !important;
      border-radius: 8px;
    }

    .card-img {
      img {
        width: 100%;
        clip-path: circle(40%);
      }
    }
    .card-body {
      padding: 10px;
      width: 100%;
      // margin: 10px;
      .body-header {
        display: flex;
        border-radius: 6px;
        padding: 10px;
        .title {
          width: 100% !important;
          .card-title {
            // color: $skillsColor !important;
            font-weight: 700 !important;
            letter-spacing: 1px !important;
            font-size: 16px !important;
          }
          .institute {
            color: $cardSubtitle !important;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
          }
          .card-subtitle {
            color: $subTitle !important;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
          }
        }
        .duration-div {
          .duration {
            background-color: $cardBackgroundColor2 !important;
            color: $textColor2 !important;
            font-weight: 700;
            font-size: 14px;
            padding: 10px;
            margin: 0;
            border-radius: 5px;
            float: left !important;
          }
        }
      }
    }
  }
}
