@import "../../styles/globalColor.scss";

.skills-container {
  display: grid;
  gap: 2rem;
  padding-top: 2rem;
  h1 {
    color: $darkScreen;
    font-weight: bold !important;
  }
  .skills-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 90%;
    margin: 0 auto;

    .skills-card {
      display: flex;
      align-items: center;
      opacity: 1;
      transform: none !important;
      margin: 0.5rem 0.5rem !important;
      padding: 0.5rem 1rem !important;
      background-color: $lightBackground2 !important;
      border-radius: 0.5rem;
      .skills-img {
        width: 25% !important;
        img {
          max-width: 100% !important;
          width: 3rem !important;
        }
        @media (max-width: 768px) {
          img {
            max-width: 100% !important;
            width: 2rem !important;
          }
        }
      }
      span {
        margin: 0.8rem !important;
        color: $cardSubtitle !important;
        font-size: 1rem;
      }
    }
  }
}
