@use "../../styles/globalColor.scss" as *;

.greet-main {
  width: 85%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.greeting-main {
  display: flex;
}

.subTitle {
  color: $subTitle !important;
  padding: 1rem;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  display: flex;
  justify-content: end;
}

.empty-div {
  margin-bottom: 40px;
}

.button-greeting-div {
  display: flex;
  margin-top: 40px;
}
.download-link-button {
  text-decoration: none;
}

.greeting-text {
  font-size: 3rem;
  line-height: 1.1;
  color: $textColor !important;
  span {
    color: $stackoverflow !important;
  }
}

.greeting-text-p {
  font-size: 1rem;
  line-height: 30px;
}

.greeting-image-div > img {
  max-width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

.portfolio-repo-btn-div {
  width: 100%;
  display: flex;
  button {
    background-color: black; /* Green */
    border-radius: 0.5rem;
    color: $stackoverflow;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
  }
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .greeting-text {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: flex;
    flex-direction: column;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    justify-content: center;
  }
  .greeting-main > * {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .greeting-image-div > img {
    max-width: 80%;
    height: 60%;
    margin-top: 5%;
  }
}
