@import "../../styles/globalColor.scss";

.contact-section {
  display: flex;
  flex-direction: column;
  background: $darkScreen;
  margin-top: 5rem;
  h1 {
    color: $lightBackground1 !important;
    font-weight: bold !important;
  }
  .contact-body {
    width: 85%;
    margin: 0 auto;
    p {
      font-size: 1rem !important;
      line-height: 1.4rem;
      font-weight: 400 !important;
      color: $subTitle !important;

      span {
        color: $stackoverflow;
        font-weight: 600 !important;
      }
    }

    .icon-btn i {
      border-radius: 2.6rem;
      color: $darkBoxShadow2;
      cursor: pointer;
      display: inline-block;
      font-size: 1.3rem;
      height: 2.6rem;
      line-height: 2.6rem;
      margin: 0 5px 10px;
      position: relative;
      text-align: center;
      transition: 0.2s ease-in;
      -webkit-user-select: none;
      user-select: none;
      width: 2.6rem;
    }
    .mobile i {
      background-color: $google;
    }
    .gmail i {
      background-color: $darkGreen;
    }
    .github i {
      background-color: $github;
    }
    .linkedin i {
      background-color: $twitter;
    }
    .coding i {
      background-color: $instagram;
    }
    .location i {
      background-color: $darkBoxShadow;
    }
  }
}
