@use "../../styles/globalColor.scss" as *;

.description {
  color: $subTitle;
}

.contact-info {
  span {
    color: $primary;
    background-color: #00b60d0d !important;
    padding: 0.25rem 0.6rem;
  }
}
.social-icons {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background: $primary;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      color: white;
    }
  }
}

.info-block {
  margin-top: 1.5rem;

  li {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;

    .icon-circle {
      background: #e6e6e6cf;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.75rem;
    }

    a {
      text-decoration: none;

      small {
        color: #333;
      }

      span {
        color: $primary;
        font-weight: 600;
      }
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 3rem 0 1rem 0;
  border: none;
}

.copyright {
  font-size: 1rem;
  color: $subTitle;
  span {
    color: $primary;
    font-weight: 700;
  }
}

.email {
  text-decoration: none;
  span {
    color: $primary;
    font-weight: 500;
  }
}
