@import "../../styles/globalColor.scss";

.header {
  position: sticky;
  height: 5rem;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $darkScreen;
  z-index: 99;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.nav__logo {
  color: $lightBackground1;
  transition: color 0.4s;
  font-size: 1.5rem;
  font-weight: 500;
  span {
    color: $stackoverflow;
  }
}

.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  color: $stackoverflow;
  cursor: pointer;
}

.container {
  color: hsl(0, 0%, 6%);
  border: none;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 992px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: $darkScreen;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 50%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
  }
}
@media screen and (max-width: 300px) {
  .nav__menu {
    padding: 4rem 1rem 2rem;
  }

  .nav__list {
    row-gap: 1rem;
  }

  .nav__link,
  .nav__cta {
    font-size: var(--smaller-font-size);
  }

  .nav__cta {
    padding: 8px 16px;
    font-size: 12px;
    margin-top: 1rem;
    width: auto;
    white-space: nowrap;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  list-style: none;
}

.nav__link {
  color: $subTitle;
  // font-weight: 00;
  transition: color 0.4s;
  text-decoration: none;
  font-size: 1rem;
}

.nav__link:hover {
  color: $gitlab;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}
.nav__listt {
  display: flex;
  flex-direction: row;
  column-gap: 2.5rem;
}

.nav__menu_mobile {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: $lightBackground1;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 80%;
  height: 100%;
  padding: 6rem 3rem 0;
  transition: right 0.4s;
}
@media screen and (min-width: 992px) {
  .nav {
    height: calc(3.5rem + 1rem);
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
}
