@use "../../styles/globalColor.scss" as *;

.timeline {
  position: relative;
  border-left: 1px solid #e5e7eb;
  padding-left: 0.8rem;

  .timeline-item {
    position: relative;
    margin-bottom: 2.5rem;
    padding-left: 1rem;

    .timeline-icon {
      position: absolute;
      left: -1.5rem;
      top: 0;
      width: 1.5rem;
      height: 1.5rem;
      background: $stackoverflow;
      border-radius: 9999px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 0 8px white;

      .timeline-icon-svg {
        width: 0.625rem;
        height: 0.625rem;
        color: white;
      }
    }

    .timeline-title {
      font-size: 1.125rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: $stackoverflow;
      }
    }

    .timeline-date {
      font-size: 0.875rem;
      color: #9ca3af;
      margin-bottom: 0.5rem;
    }

    .timeline-description {
      list-style-type: disc;
      padding-left: 1rem;
      margin: 1rem 0;
      color: $subTitle;
      li {
        margin-bottom: 0.5rem;
      }
    }

    .tech-stack {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}
